.messages {
    width: 80%;
    margin: 3rem auto 0;
}

.message {
    line-height: 1;
    margin-top: 20px;
}

.message.recieved {
    color: #EDEDED;
}

.message.sent {
    color: #8bd1e1;
    text-align: right;
}

.message::before {
    opacity: 0.4;
    font-size: 80%;
}

.message.recieved::before {
    content: "John";
}

.message.sent::before {
    content: "You";
}

form {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    color: #EDEDED;
    padding: 12px;
    margin-left: 10px;
    background-color: #048161 !important;
    border-radius: 5px;
}

form input {
    width: 80%;
    background-color: #EDEDED4F;
    color: #EDEDED;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #EDEDED;
}

form input:focus {
    outline: none;
}