nav {
  color: #004F1F;
  height: 140px;
  position: relative;
}

nav::before, nav::after {
  height: 140px;
  width: 105%;
  position: absolute;
  left: 0;
  content: "";
}

nav::before {
  background-color: #5A5A5ADA;
  transform: rotateZ(2deg);
  top: -30px;
}

nav::after {
  background-color: #F9F7F5;
  transform: rotateZ(-1.5deg);
  top: -20px;
}

.logo h2 {
  font-family: Copperplate;
  margin-top: -1.25rem;
}

nav * {
  z-index: 1;
}

nav a {
  opacity: 0.8;
  transition-duration: .2s;
}

nav a:hover {
  opacity: 1;
}

nav a:not(:last-of-type) {
  margin-right: 75px;
}

.sign-out {
  background-color: #004F1F;
  color: #F9F7F5;
}

@media (max-width: 1023px) {
  nav::before {
    transform: rotateZ(2deg) scale(1.2);
  }

  nav a:not(:last-of-type) {
    margin-right: 50px;
  }
}

@media (max-width: 800px) {
  nav.flex, nav.flex::after {
    height: 200px;
  }

  nav.flex {
    padding: 0;
    justify-content: space-evenly;
    padding-top: 120px;
  }

  nav a {
    margin: 0 !important;
  }

  nav::before {
    top: 30px;
  }

  .logo {
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  nav a {
    font-size: 1.3rem;
  }

  .sign-in {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  nav::after {
    transform: scale(1.7) rotateZ(-1.5deg);
  }

  nav::before {
    transform: scale(2.2) rotateZ(2deg);
  }

  .logo h2 {
    font-size: 2.5rem;
  }

  .logo h3 {
    font-size: 1rem;
  }

  nav a {
    margin-top: 10px !important;
  }
}