:root {
    --foreground: #ebebeb;
}

.tab-headers {
    color: var(--foreground);
    width: 600px;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.tab-headers a {
    height: 80px;
    box-sizing: border-box;
    transition-duration: .5s;
}

.green {
    color: #004F1F;
    position: relative;
}

.tab-highlight {
    background-color: var(--foreground);
    height: 80px;
    width: 180px;
    position: absolute;
    border-radius: 15px 15px 0 0;
    transition-duration: .25s;
}

.tab-highlight::before, .tab-highlight::after {
    content: "";
    position: absolute;
    bottom: 15px;
    height: 50px;
    width: 25px;
    box-shadow: 0 25px 0 0 var(--foreground);
}

.tab-highlight::before {
    right: -25px;
    border-bottom-left-radius: 25px;
}

.tab-highlight::after {
    left: -25px;
    border-bottom-right-radius: 25px;
}

.tab-highlight.dream {
    left: 0;
}

.tab-highlight.inspire {
    left: calc(47% - 90px);
}

.tab-highlight.achieve {
    left: calc(100% - 180px);
}

.content {
    background-color: var(--foreground);
    width: 600px;
    margin: -15px auto 0;
    height: 300px;
    box-sizing: border-box;
    border-radius: 15px;
}

@media (max-width: 700px) {
    .content, .tab-headers {
        width: 450px;
    }

    .tab-headers {
        font-size: 1.75rem;
    }

    .tab-highlight {
        width: 130px;
    }

    .content {
        font-size: 1.3rem;
    }

    .tab-highlight.inspire {
        left: calc(47% - 65px);
    }
    
    .tab-highlight.achieve {
        left: calc(100% - 130px);
    }
}

@media (max-width: 490px) {
    .tab-highlight {
        display: none;
    }

    .content {
        text-align: center;
    }

    .green {
        color: var(--foreground);
    }

    .tab-headers {
        max-width: 320px;
        font-size: 1.5rem;
    }

    .tab-headers a:not(.green) {
        opacity: 0.5;
    }

    .content {
        max-width: 300px;
        font-size: 1rem;
        padding: 20px;
    }
}